.carrosselContainer{
    height: 60vh;
    width: 60vw;
    background-color: white;
    border: 40px var(--azul-marinho) solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
}
.carrosselItem{
    width: 40vw;
    height: 40vh;
} 

.carrosselImg{
    width: 1000px;
    height: 500px;
}